/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  ---------------- FONTS  ---------------- */
@font-face {
    font-family: 'axisbold';
    src: url('axis-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*  ---------------- GENERAL  ---------------- */
html {
  height: 100%;
  box-sizing: border-box;
}
body {
  margin:0;
  padding:0;
  height:100%;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

 input, button, submit { border:none; }
a {text-decoration: none}
a:visited { text-decoration: none; color: inherit;}
a:focus { text-decoration: none; color: inherit; }
/* a:hover, a:active { text-decoration: none; color:black } */

/*  ---------------- HEADER  ---------------- */
.header {
  width: 100%;
  height: 65px;
  background: #F2EEE2;
  display: flex;
  position: fixed;
  z-index: 9;
}
.header h1 {
  font-family: 'axisbold';
  font-size: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  flex: 1;
  padding-left: 30px;
  padding-top: 10px;
}
.header h1 a:hover {
  color: #F81B84;
}

.nav {
/*  background: black;
  border-radius: 83px;
  width: 45px;
  height: 45px;
  margin-right: 20px;
  margin-top: 9px;
  cursor: pointer;*/
}

.bars {
  font-weight: 900;
  color: black;
  font-size: 70px;
  line-height: 15px;
}

.nav-dropdown {
  height: 100px;
  position: relative;
  top: 25px;
  width: 120px;
  right: 54px;
  display: flex;
  flex-direction: column;
  text-align: center;
/*  opacity: 0;*/
}

.nav-link {
  display: none;
  padding-top: 15px;
  font-family: 'Poppins', sans-serif;
}

.nav:hover .nav-link {
  display: block;
}

.nav:hover .nav-dropdown {
  background-color: #F81B84;
  color: #F2EEE2;
}


/*  ---------------- FOOTER  ---------------- */
.footer {
  background: black;
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: #F5CE28;
}
.footer p {
  padding-top: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
}

/*  ---------------- WELCOME PAGE  ---------------- */
.welcome-message {
  width: 49%;
  margin: 0 auto;
  position: relative;
}
.welcome-user-name p{
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  margin-top: 150px;
}
.card-tag {
  width: 300px;
  height: 480px;
  background: #394cfe;
  border-radius: 30px;
  position: absolute;
  z-index: 9;
  transform: rotate(35deg);
  box-shadow: 2.2rem 0.4rem 4.8rem rgba(0,0,0,0.4);
  top: -270px;
  left: 160px;
}
.card-tag-two{
  width: 300px;
  height: 480px;
  background: #394cfe;
  border-radius: 30px;
  position: absolute;
  z-index: 9;
  transform: rotate(140deg);
  box-shadow: 2.2rem 0.4rem 4.8rem rgba(0,0,0,0.4);
  top: 135px;
  right: -129px;
}
.border{
  color: #fec1fc;
  border: 10px solid #fec1fc;
  border-image: repeating-linear-gradient( 45deg, #394cfe, #394cfe 1%, #fec1fc 1%, #fec1fc 8%) 10;
  height: 93vh;
  width: 96%;
  margin: 1%;
  position: absolute;
}
.welcome {
  text-align: center;
  background: white;
}
.welcome h1 {
  font-size: 100px;
  position: relative;
  top: 65px;
  font-family: 'axisbold';
  letter-spacing: 5px;
  text-transform: uppercase;
}
.welcome h2 {
  position: relative;
  top: 150px;
  font-size: 21px;
  font-family: 'Poppins', sans-serif;
  color: #BDC3C7;
  letter-spacing: 1px;
  font-weight: 100;
  line-height: 37px;
}
.auth-buttons {
  position: relative;
  top: 220px;
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.auth-buttons button {
  width: 190px;
  height: 60px;
  background: #fec1fc;
  border-radius: 50px;
  font-size: 22px;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: white;
}
.auth-buttons button:hover {
  background: #b7f8fe;
  color: black;
}

/*  ---------------- REGISTER PAGE  ---------------- */
.register-wrap {
  width: 45%;
  height: 65%;
  background: #394cfe;
  margin: 0 auto;
  position: relative;
  top: 111px;
}
.register-wrap h1 {
  font-size: 100px;
  text-align: center;
  position: relative;
  top: -37px;
  font-family: 'Poppins', sans-serif;
}
.register-container {
  height: 100vh;
}
.register-container form {
  width: 55%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.register-container form input {
  margin-bottom: 20px;
  height: 33px;
  border-radius: 50px;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
  padding-left: 25px;
}
.register-container form input:nth-child(6){
  width: 100px;
  margin: 0 auto;
  padding-left: 0;
  background: #b7f8fe;
  color: black;
  cursor: pointer;
  font-weight: 600;
}
.register-container form input:nth-child(6):hover{
  background: white;
}
input::placeholder {
  color: #000;
}
/*  ---------------- LOG IN PAGE  ---------------- */
.login-wrap {
  width: 45%;
  height: 45%;
  background: #394cfe;
  margin: 0 auto;
  position: relative;
  top: 111px;
}
.login-wrap h1 {
  font-size: 100px;
  text-align: center;
  position: relative;
  top: -37px;
  font-family: 'Poppins', sans-serif;
}
.login-container {
  height: 100vh;
}
.login-container form {
  width: 55%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.login-container form input {
  margin-bottom: 20px;
  height: 33px;
  border-radius: 50px;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
  padding-left: 25px;
}
.login-container form input:nth-child(3){
  width: 100px;
  margin: 0 auto;
  padding-left: 0;
  background: #b7f8fe;
  color: black;
  cursor: pointer;
  font-weight: 600;
}
.login-container form input:nth-child(3):hover {
  background: white;
}

/*  ---------------- MAIN PAGE  ---------------- */
.main-menu {
  height: 100vh;
  position: relative;
  background: #f5f8f9;
}
.welcome-user-name {
  display: flex;
  margin: 0 auto;
  font-size: 25px;
  justify-content: center;
  align-items: center;
}

.menu-buttons{
  width: 600px;
  height: 40vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  top: 90px;
}
.menu-button{
  background: #fec1fc;
  flex: 250px 0;
  border-radius: 15px;
  height: 85px;
  cursor: pointer;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
}
.menu-button:hover {
   background: #b7f8fe;
   color: black;
}


/*  ---------------- CREATE CARD PAGE (front) ---------------- */
.create-card {
  height: 100vh;
  position: relative;
  background: #43C0F6;
}
.cards-container {
  display: flex;
  width: 60%;
  margin: 0 auto;
  position: relative;
  top: 65px;
}
.create-card h2 {
  text-align: center;
  top: 90px;
  font-size: 30px;
  position: relative;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
}
.create-card > p{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  position: relative;
  top: 95px;
}
.create-front{
  width: 310px;
  height: 450px;
  background: #F2EEE2;
  margin: 0 auto;
  border-radius: 25px;
  position: relative;
  top: 60px;
  font-family: 'Poppins', sans-serif;
}
.create-front-side-card{
  position: relative;
  top: 50px;
}
.create-front-side-card p{
  text-align: center;
  font-size: 25px;
}
.create-front-side-card form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.create-front-side-card form input {
  width: 220px;
  margin: 0 auto;
  height: 55px;
  border-radius: 15px;
  margin-top: 30px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}
.create-front-side-card form input:nth-child(2){
  width: 80px;
  margin: 0 auto;
  height: 44px;
  border-radius: 9px;
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  background: black;
  color: white;
}
/*.create-front-side-card form input:nth-child(2):hover {
  background: #F5CE28;
  color: black;
  font-weight: 600;
}*/

/*  ---------------- CREATE CARD PAGE (back) ---------------- */
.create-back{
  width: 310px;
  height: 450px;
  background: #F2EEE2;
  margin: 0 auto;
  border-radius: 25px;
  position: relative;
  top: 60px;
  font-family: 'Poppins', sans-serif;
}
.create-back-side-card{
  position: relative;
  top: 50px;
}
.create-back-side-card p{
  text-align: center;
  font-size: 25px;
}
.create-back-side-card form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
textarea {
  width: 185px;
  margin: 0 auto;
  height: 215px;
  border-radius: 15px;
  margin-top: 30px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  border: none;
  padding-left: 21px;
  padding-right: 21px;
}
.create-back-side-card form input:nth-child(2){
  width: 80px;
  margin: 0 auto;
  height: 44px;
  border-radius: 9px;
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  background: #F81B84;
  color: white;
}
.create-back-side-card form input:nth-child(2):hover {
  background: #F5CE28;
  color: black;
  font-weight: 600;
}


/*  ---------------- USER PROFILE PAGE ---------------- */
.user-profile-info{
  width: 50%;
  height: 500px;
  border: 10px solid #fec1fc;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  border-image: repeating-linear-gradient( 45deg, #394cfe, #394cfe 1%, #fec1fc 1%, #fec1fc 8%) 10;
}
.user-profile-info h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.user-profile-info h3 {
  font-family: 'Poppins', sans-serif;
  padding-bottom: 5px;
  font-size: 18px;
}

/*  ---------------- QUIZ PAGE ---------------- */
.pick-quiz-type {
  height: 100vh;
  position: relative;
  background: #f5f8f9;
}
.pick-quiz-type h2{
  text-align: center;
  top: 115px;
  font-size: 30px;
  position: relative;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
}
.pickquiz-form{
  display: flex;
  position: relative;
  top: 165px;
}
.pickquiz-button{
  border: 10px solid;
  flex: 50% 0;
  height: 65vh;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  color: white;
  text-align: center;
  border-image: repeating-linear-gradient( 45deg, #394cfe, #394cfe 1%, #fec1fc 1%, #fec1fc 8%) 10;
  background: #fec1fc;
}
.pickquiz-button p{
  position: relative;
  top: 39%;
  color: white;
  letter-spacing: 2px;
}
.pickquiz-button p:nth-child(2) {
  font-size: 20px;
}
.quiz_link{
   font-size: 50px;
   font-weight: 600;
   letter-spacing: 2px;
   padding-bottom: 7px;
}
.button_two{
  background: #394cfe;
}
.pickquiz-button:hover {
  color: black;
  background: #b7f8fe;
}


/*  ---------------- EDIT CARD PAGE (front) ---------------- */
.edit-screen {
    min-height: 100%;
    position: relative;
    padding-bottom: 8rem;
    background: #394cfe;
}
.edit-screen h2 {
  text-align: center;
  top: 115px;
  font-size: 30px;
  position: relative;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  padding-bottom: 30px;
}
.cards-container-edit {
  display: flex;
  width: 60%;
  margin: 0 auto;
  position: relative;
  top: 65px;
  padding-bottom: 50px;
}
