/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  -webkit-font-smoothing: antialiased;
}

/*  ---------------- FONTS  ---------------- */
@font-face {
    font-family: 'axisbold';
    src: url('axis-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*  ---------------- GENERAL  ---------------- */
html {
  height: 100%;
  box-sizing: border-box;
}
body {
  margin:0;
  padding:0;
  height:100%;
  font-family: 'Karla', sans-serif;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Remove forced yellow input background in Chrome to in this case #394cfe*/
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #394cfe inset !important;
}
 input, button, submit { border:none; }
a {text-decoration: none}
a:visited { text-decoration: none; color: inherit;}
a:focus { text-decoration: none; color: inherit; }
/* a:hover, a:active { text-decoration: none; color:black } */

/*  ---------------- NAV  ---------------- */
.nav-wrapper h1 {
  font-family: 'axisbold';
  font-size: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding-left: 50px;
  padding-top: 10px;
}

.bars {
  width: 31px;
  height: 31px;
  position: relative;
  top: 15px;
  font-size: 35px;
}

.nav-dropdown {
  height: 100px;
  position: relative;
  top: 50px;
  width: 120px;
  right: 54px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nav-link {
  display: none;
  padding-top: 15px;
  font-family: 'Karla', sans-serif;
}

.nav:hover .nav-link {
  display: block;
}

.nav:hover .nav-dropdown {
  background-color: #F81B84;
  color: #F2EEE2;
}


/*  ---------------- FOOTER  ---------------- */
.footer {
  background: black;
  min-height: 5vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: #F5CE28;
}
.footer p {
  padding-top: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 10px;
  font-family: 'Karla', sans-serif;
}

/*  ---------------- WELCOME PAGE  ---------------- */
.card-tag {
    width: 300px;
    height: 480px;
    background: #394cfe;
    border-radius: 30px;
    position: absolute;
    z-index: 9;
    transform: rotate(35deg);
    box-shadow: 2.2rem 0.4rem 4.8rem rgba(0,0,0,0.4);
    top: -205px;
    left: 160px;
  }
  .card-tag-two{
    width: 300px;
    height: 480px;
    background: #394cfe;
    border-radius: 30px;
    position: absolute;
    z-index: 9;
    transform: rotate(140deg);
    box-shadow: 2.2rem 0.4rem 4.8rem rgba(0,0,0,0.4);
    top: 135px;
    right: -129px;
 }
  .border{
    color: #F7CA18;
    border: 10px solid #F7CA18;
    border-image: repeating-linear-gradient( 45deg, #394cfe, #394cfe 1%, #F7CA18 1%, #F7CA18 8%) 10;
    height: 96vh;
    width: 98%;
    margin: 1%;
    position: absolute;
  }




.welcome-message {
  width: 49%;
  margin: 0 auto;
  position: relative;
}

.welcome-user-name p{
  font-family: 'Karla', sans-serif;
  font-size: 35px;
  margin-top: 150px;
}

.welcome {
  text-align: center;
  height: 100vh;
}
.welcome h1 {
  font-size: 100px;
  position: relative;
  top: 65px;
  font-family: 'axisbold';
  letter-spacing: 5px;
  text-transform: uppercase;
}
.welcome h2 {
  position: relative;
  top: 150px;
  font-size: 21px;
  font-family: 'Karla', sans-serif;
  color: black;
  letter-spacing: 1px;
  font-weight: 100;
  line-height: 30px;
}
.auth-buttons {
  position: relative;
  top: 220px;
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.auth-button {
  width: 190px;
  height: 60px;
  background: #F7CA18;
  border-radius: 50px;
  font-size: 22px;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  color: white;
  text-transform: capitalize;
}

.auth-buttons button:hover,
.auth-buttons button:focus {
  background: #394cfe;
  color: white;
}

/*  ---------------- REGISTER PAGE  ---------------- */
.register-wrap {
  width: 45%;
  height: 65%;
  background: #394cfe;
  margin: 0 auto;
  position: relative;
  top: 111px;
}
.register-wrap h1 {
  font-size: 100px;
  text-align: center;
  position: relative;
  top: -37px;
  font-family: 'Karla', sans-serif;
}
.register-container {
  height: 100vh;
}
.register-container form {
  width: 55%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.register-container form input {
  margin-bottom: 20px;
  height: 33px;
  border-radius: 50px;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: 'Karla', sans-serif;
}

.form-submit {
  background: #F7CA18;
  width: 160px;
  margin: 0 auto;
  padding-left: 0;
  border-radius: 30px;
  color: #000;
  text-transform: capitalize;
  font-size: 20px;
  padding: 0;
}
.form-submit:hover,
.form-submit:focus{
  background: #394cfe;
  color: white;
}

/*  ---------------- LOG IN PAGE  ---------------- */
.login-wrap {
  width: 45%;
  height: 45%;
  background: #394cfe;
  margin: 0 auto;
  position: relative;
  top: 111px;
}
.login-wrap h1 {
  font-size: 100px;
  text-align: center;
  position: relative;
  top: -37px;
  font-family: 'Karla', sans-serif;
}
.login-container {
  height: 100vh;
}
.login-container form {
  width: 55%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.login-container form input {
  margin-bottom: 20px;
  height: 33px;
  border-radius: 50px;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: 'Karla', sans-serif;
}

/*  ---------------- MAIN PAGE  ---------------- */
.main-menu {
  height: 100vh;
  position: relative;
}
.main-menu h1 {
  text-align: center;
  padding-top: 150px;
  font-size: 50px;

}
.welcome-user-name {
  display: flex;
  margin: 0 auto;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  /* background-color: #43C0F6; */
}

.menu-buttons{
  width: 600px;
  height: 40vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  top: 90px;
  /* background-color: #43C0F6; */
}
.menu-button{
  background: #F7CA18;
  flex: 250px 0;
  border-radius: 15px;
  height: 85px;
  cursor: pointer;
  font-size: 25px;
  font-family: 'Karla', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  text-transform: capitalize;
}

.menu-button:hover {
   background: #394cfe;
}


/*  ---------------- ABOUT APP PAGE ---------------- */

.about-app {
  height: 100vh;
  position: relative;
  /* background-color: #43C0F6; */
}
.about-app-message {
  top: 20vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  position: relative;
  height: 350px;
  border: 10px solid #F7CA18;
  border-image: repeating-linear-gradient( 45deg, #394cfe, #394cfe 1%, #F7CA18 1%, #F7CA18 8%) 10;
  margin: 0 auto;
  text-align: center;
}

.about-app-message h2 {
  font-family: 'Karla', sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.about-app-message p {
  font-family: 'Karla', sans-serif;
  padding: 5px 5px 5px 5px;
  font-size: 18px;
}

/*  ---------------- CREATE CARD PAGE (front) ---------------- */

.create-card-quiz {
  height: 100vh;
  position: relative;
  /* background: #43C0F6; */
}

.create-card {
  height: 100vh;
  /* background: #43C0F6; */
}

.cards-container {
  display: flex;
  width: 85%;
  margin: 0 auto;
  position: relative;
  top: 35px;
}
.create-card h2 {
  text-align: center;
  top: 60px;
  font-size: 30px;
  position: relative;
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
}

.create-card > p{
  text-align: center;
  font-family: 'Karla', sans-serif;
  position: relative;
  top: 95px;
}
.create-front{
  width: 310px;
  height: 450px;
  margin: 0 auto;
  border-radius: 25px;
  position: relative;
  top: 60px;
  font-family: 'Karla', sans-serif;
  background: #ECF0F1;
}
.create-front-side-card{
  position: relative;
  top: 50px;
}
.create-front-side-card p{
  text-align: center;
  font-size: 25px;
}
.create-front-side-card form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.create-front-side-card form input {
  width: 220px;
  margin: 0 auto;
  height: 55px;
  border-radius: 15px;
  margin-top: 30px;
  font-size: 20px;
  font-family: 'Karla', sans-serif;
}
.create-front-side-card form input:nth-child(2){
  width: 80px;
  margin: 0 auto;
  height: 44px;
  border-radius: 9px;
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 20px;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
  background: black;
  color: white;
}

/*  ---------------- CREATE CARD PAGE (back) ---------------- */
.create-back {
  width: 310px;
  height: 450px;
  margin: 0 auto;
  border-radius: 25px;
  position: relative;
  top: 60px;
  font-family: 'Karla', sans-serif;
  background: #ECF0F1;
}
.create-back-side-card{
  position: relative;
  top: 50px;
}
.create-back-side-card p{
  text-align: center;
  font-size: 25px;
}
.create-back-side-card form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
textarea {
  width: 225px;
  margin: 0 auto;
  height: 265px;
  border-radius: 15px;
  margin-top: 30px;
  font-size: 25px;
  text-align: center;
  padding-top: 20px;
  font-family: 'Karla', sans-serif;
  border: none;
  padding-left: 21px;
  padding-right: 21px;
  background-color: white;
}
.create-back-side-card form input:nth-child(2){
  width: 80px;
  margin: 0 auto;
  height: 44px;
  border-radius: 9px;
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 20px;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
  background: #F81B84;
  color: white;
}
.create-back-side-card form input:nth-child(2):hover {
  background: #F5CE28;
  color: black;
  font-weight: 600;
}


/*  ---------------- USER PROFILE PAGE ---------------- */
.user-profile{
  height: 100vh;
  position: relative;
  /* background-color: #43C0F6; */
}
.user-profile-info {
  top: 20vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  position: relative;
  height: 350px;
  margin: 0 auto;
  text-align: center;
  border: 10px solid #F7CA18;
  border-image: repeating-linear-gradient( 45deg, #394cfe, #394cfe 1%, #F7CA18 1%, #F7CA18 8%) 10;
}
.user-profile-info h2 {
  font-family: 'Karla', sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.user-profile-info h3 {
  font-family: 'Karla', sans-serif;
  padding-bottom: 5px;
  font-size: 18px;
}

/*  ---------------- QUIZ PAGE ---------------- */
.pick-quiz-type {
  height: 100vh;
  position: relative;
  /* background: #46bff7; */
}
.pick-quiz-type h2{
  text-align: center;
  top: 65px;
  font-size: 30px;
  position: relative;
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
}
.pickquiz-form{
  display: flex;
  position: relative;
  top: 125px;
  justify-content: center;
  align-items: center;
  padding: 0 5vw 0 5vw;
}

.pickquiz-button-one{
  flex: 50% 0;
  height: 50vh;
  cursor: pointer;
  font-family: 'Karla', sans-serif;
  color: white;
  text-align: center;
  background: #F7CA18;
  justify-content: center;
  margin: 0 5vw 0 5vw;
  border-radius: 40px;
}

.pickquiz-button-two {
  flex: 50% 0;
  height: 50vh;
  cursor: pointer;
  font-family: 'Karla', sans-serif;
  color: white;
  text-align: center;
  background: #394cfe;
  margin: 0 5vw 0 5vw;
  border-radius: 40px;
}

.pickquiz-button-one p{
  position: relative;
  top: 39%;
  color: white;
  letter-spacing: 2px;
}

.pickquiz-button-two p{
  position: relative;
  top: 39%;
  color: white;
  letter-spacing: 2px;
}

.quiz_link{
   font-size: 50px;
   font-weight: 600;
   letter-spacing: 2px;
   padding-bottom: 7px;
}

.pickquiz-button-one:hover {
  background-color: #394cfe;
}

.pickquiz-button-one:hover p {
  color: #F7CA18;
}

.pickquiz-button-two:hover {
  background: #F7CA18;
}

.pickquiz-button-two:hover p {
  color: #394cfe;
}
.quiz_question {
  text-align: center;
  font-size: 35px;
  line-height: 40px;
}
.quiz_answer {
  text-align: center;
  font-size: 20px;
  line-height: 26px;
}
.quiz_back_card{
  border: 1px solid transparent;
  height: 350px;
  width: 240px;
  overflow: scroll;
  border-radius: 11px;
  top: 28px;
}
.scoreScreen {
  width: 50%;
  height: 500px;
  background: #F5CE28;
  margin: 0 auto;
  position: relative;
  top: 120px;
  border-radius: 40px;
  text-align: center;
}
.scoreScreen h1 {
  font-family: 'Karla', sans-serif;
  font-size: 40px;
}
.scoreScreen h1:nth-child(1){
  padding-top: 170px;
}
.scoreScreen h1:nth-child(2){
  font-weight: 600;
}
.edit_delete_icons {
  width: 20%;
  margin: 0 auto;
  position: relative;
  top: 285px;
  color: #f81b84;
}

.fa-trash {
  padding-left: 10px;
  font-size: 25px;
}
.cards-container-quiz{
  display: flex;
  width: 60%;
  margin: 0 auto;
  position: relative;
  top: 65px;
}
.create-front-quiz{
  width: 310px;
  height: 450px;
  margin: 0 auto;
  border-radius: 25px;
  position: relative;
  top: 40px;
  font-family: 'Karla', sans-serif;
  background: #ECF0F1;
}
.create-front-side-card-quiz{
  position: relative;
  border: 1px solid transparent;
  height: 350px;
  width: 240px;
  overflow: scroll;
  border-radius: 11px;
  top: 68px;
  margin: 0 auto;
}


/*  ---------------- EDIT CARD PAGE (front) ---------------- */

.edit-screen {
  position: relative;
  padding-bottom: 9rem;
  /* background: #43C0F6; */
}
.no-message {
  height: 100vh;
  padding-bottom: 0;
}
.no-cards-container {
  width: 50%;
  height: 500px;
  background: #F5CE28;
  margin: 0 auto;
  position: relative;
  top: 120px;
  border-radius: 40px;
  text-align: center;
}
.no-cards-container h1 {
  font-family: 'Karla', sans-serif;
  font-weight: 600;
  position: relative;
  top: 200px;
  font-size: 40px;
}
.edit-cards-main_no_cards {
  width: 100%;
  height: 80vh;
  position: relative;
  top: 110px;
  text-align: center;
  font-size: 60px;
}
.edit-cards-main_no_cards h1 {
  font-family: 'Karla', sans-serif;
  font-weight: 600;
  position: relative;
  top: 200px;
  font-size: 40px;
}
.edit-screen h2 {
  text-align: center;
  top: 55px;
  font-size: 30px;
  position: relative;
  text-transform: uppercase;
  font-family: 'Karla', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  padding-bottom: 30px;
}
.cards-container-edit {
  display: flex;
  width: 85%;
  margin: 0 auto;
  position: relative;
  top: 65px;
  padding-bottom: 90px;
}

.delete-card {
  width: 80px;
  margin: 0 auto;
  height: 44px;
  border-radius: 9px;
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 10px;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
  background: #F81B84;
  color: white;
}

.delete-card:hover {
  background: #F5CE28;
  color: black;
  font-weight: 600;
}

/*  ---------------- QUIZ SCREEN PAGE ---------------- */
.rotate_button {
  width: 105px;
  margin: 0 auto;
  height: 45px;
  border-radius: 9px;
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 20px;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
  background: #f5ce28;
  color: black;
  position: relative;
  top: -437px;
  display: block;
}

.create-back-quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 450px;
  margin: 0 auto;
  border-radius: 25px;
  position: relative;
  font-family: 'Karla', sans-serif;
  background: #ECF0F1;
}

.right-wrong {
  width: 70%;
  height: 100px;
  margin: auto;
  position: relative;
  top: 50px;
  text-align: center;
}
.right-wrong button {
  background: #f5ce28;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
}

.right-wrong button:hover {
  background: #394cfe;
  color: white;
}
.correct-button {
  margin-right: 20px;
  margin-left: 20px;
}
.incorrect-button {
  margin-left: 20px;
}

.edit-redirect-button:hover {
  background: #394cfe;
  color: white;
}


/*************************   MATERIALIZE.CSS OVERWRITES   **************************/
/*  ---------------- NAV  ---------------- */
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
  float: right !important;
  font-size: 2.1rem;
}
nav .nav-wrapper {
  background: #394cfe;
}
.side-nav {
  background: #F7CA18;
}
.side-nav li>a {
  color: white;
  font-size: 35px;
  height: 78px;
  padding-bottom: 30px;
  padding-left: 40px;
}
.side-nav li>a:hover {
  background: #394cfe;
}

/*  ---------------- REGISTER & LOGIN PAGES  ---------------- */
input::placeholder {
  color: white;
}
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]){
  border-bottom: 1px solid #F7CA18;
  -webkit-box-shadow: 0 1px 0 0 #F7CA18;
  box-shadow: 0 1px 0 0 #F7CA18;
}








@media all and (max-width: 800px) {
/* HEADER adaptive code */
.header h1 {
  padding-left: 10px;
}
.bars {
  left: 70px;
}
.nav-dropdown{
  top: 20px;
  right: 19px;
}

/* MAIN screen adaptive code */
  .menu-buttons {
    width: 260px;
  }
/* ABOUT screen adaptive code */
  .about-app-message p{
    font-size: 15px;
  }

/* WELCOME screen adaptive code */

  .welcome-user-name p{
    font-size: 30px;
    margin-top: 100px;
  }

  .border{
    border: 0px solid #F5CE28;
  }

  .welcome h1 {
    font-size: 50px;
  }

  .welcome h2 {
   top: 150px;
   font-size: 16px;
   line-height: 25px;
  }

  .auth-buttons {
    top: 175px;
  }

  .auth-button-1 {
    width: 130px;
    height: 40px;
    border-radius: 50px;
    font-size: 22px;
    letter-spacing: 1px;
  }

  .auth-button-2 {
    width: 130px;
    height: 40px;
    border-radius: 50px;
    font-size: 22px;
    letter-spacing: 1px;
  }

/* MAIN screen adaptive code */

.cards-container{
   display: inherit; 
  width: 100%;
  margin: 0;
}
.cards-container div {
  width: 280px;
  height: 390px;
}
.create-front{
  margin-bottom: 40px;
}
.create-card{
  height: auto;
  padding-bottom: 11rem;
 }
  
.create-front h1{
  font-size: 25px;
}

/* EDIT screen adaptive code */
.cards-container-edit{
  display: inherit;
  width: 100%;
  margin: 0;
}
.cards-container-edit div {
  width: 280px;
  height: 390px;
}
.create-front{
  margin-bottom: 40px;
}
.create-card{
  padding-bottom: 11rem;
  position: relative;
}
.create-back-side-card form input:nth-child(2) {
  height: 30px;
  margin-top: 5px;
}
.delete-card {
  height: 30px;
  margin-top: 5px;
}

/* QUIZ screen adaptive code */

.edit_delete_icons {
  width: 30% !important;
  top: 265px;
}
.cards-container-quiz{
  width: 280px;
}

/* SCORE screen adaptive code */
.scoreScreen{
  width: 85%;
}

/* PICK QUIZ screen adaptive code */

.pickquiz-form {
  flex-direction: column;
  align-items: inherit;
}
.pickquiz-form a {
  margin-bottom: 40px;
}
.pick-quiz-type{
  height: auto;
  padding-bottom: 11rem;
}

/*REGISTER responsive desing smaller screen*/

  .register-wrap {
    top: 90px;
    border-radius: 30px;
    width: 70%;
    height: 70%;
  }

  .register-wrap h1 {
    font-size: 50px;
    top: -30px;
  }

  .register-container form input {
    margin-bottom: 20px;
    height: 35px;
    border-radius: 50px;
    font-size: 14px;
    letter-spacing: 1px;
    padding-left: 10px;
  }

  .register-container form input:nth-child(6){
    width: 100px;
    margin: 0 auto;
    padding-left: 0;
  }

 /* LOGIN page responsive design */

  .login-wrap {
    width: 70%;
    height: 70%;
    top: 111px;
    border-radius: 30px;
  }

  .login-wrap h1 {
    font-size: 75px;
    top: -40px;
  }

  .login-container {
    height: 100vh;
  }

  .login-container form {
    width: 60%;
    margin: 0 auto;
  }

  .login-container form input {
    margin-bottom: 20px;
    height: 33px;
    border-radius: 50px;
    font-size: 18px;
    letter-spacing: 1px;
  }

  .login-container form input:nth-child(3){
    width: 100px;
    margin: 0 auto;
    padding-left: 0;
  }


}
