.header {
  display: flex;
  justify-content: center;
  height: 15vh;
  background-color: teal;
}

.main {
  display: flex;
  justify-content: center;
  height: 75vh;
  font-size: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  height: 10vh;
  background-color: black;
  color: white;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 20px;
}

.welcome {

}

.auth-buttons {
  font-size: 20px;
}

.main-menu {

}

.menu-buttons {

}

.menu-button {

}

/*Nav class in Header component*/

.nav {

}

/*Name Deck component*/

.name-deck {

}

.namedeck-button {

}


/*Create Card component*/
.create-card {

}

.create-front {

}

.create-front-side-card {

}

.save-front-side-card {

}

.create-back {

}

.create-back-side-card {

}

.save-back-side-card {

}

/*Pick Quiz Type Component*/

.pick-quiz-type {

}

.pickquiz-form {

}

.pickquiz-button {

}

/*User Profile Component */

.user-profile {

}

.username {

}

.scores {

}

/*Quiz Screen Component */

.quiz-screen {

}

.front-card-all {

}

.show-front {

}

.flip-card {

}

.flip-card-button {

}

.edit-delete {

}

.edit-card-button {

}

.delete-card-button {

}

.back-card-all {

}

.show-back {

}

.next-card-arrow {

}

