/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  ---------------- GENERAL  ---------------- */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
 input, button, submit { border:none; }  


/*  ---------------- WELCOME PAGE  ---------------- */
.welcome {
  height: 100vh;
  text-align: center;
}
.welcome h1 {
  font-size: 100px;
  position: relative;
  top: 40px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 5px;
}
.welcome h2 {
  position: relative;
  top: 150px;
  font-size: 35px;
  font-family: 'Poppins', sans-serif;
}
.auth-buttons {
  position: relative;
  top: 300px;
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.auth-buttons button {
  width: 190px;
  height: 60px;
  background: #e9e754;
  border-radius: 50px;
  font-size: 22px;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
.auth-buttons button:hover {
  background: #51cdcb;
  color: #fff;
}

/*  ---------------- REGISTER PAGE  ---------------- */
.register-container {
  height: 100vh;
  background: #e9e754;
}
.register-container form {
  width: 35%;
  margin: 0 auto;
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
}
.register-container form input {
  margin-bottom: 20px;
  height: 45px;
  border-radius: 50px;
  font-size: 25px;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
}
.register-container form input:nth-child(6){
  width: 140px;
  margin: 0 auto;
}





.main-menu {

}

.menu-buttons {

}

.menu-button {

}

/*Nav class in Header component*/

.nav {

}

/*Name Deck component*/

.name-deck {

}

.namedeck-button {

}


/*Create Card component*/
.create-card {

}

.create-front {

}

.create-front-side-card {

}

.save-front-side-card {

}

.create-back {

}

.create-back-side-card {

}

.save-back-side-card {

}

/*Pick Quiz Type Component*/

.pick-quiz-type {

}

.pickquiz-form {

}

.pickquiz-button {

}

/*User Profile Component */

.user-profile {

}

.username {

}

.scores {

}

/*Quiz Screen Component */

.quiz-screen {

}

.front-card-all {

}

.show-front {

}

.flip-card {

}

.flip-card-button {

}

.edit-delete {

}

.edit-card-button {

}

.delete-card-button {

}

.back-card-all {

}

.show-back {

}

.next-card-arrow {

}

